* {
  box-sizing: border-box;
}
body{
  margin: 0;
}
.item {
  border: 1px solid #000000;
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 20px;
}

.box {
  flex-grow: 1;
  max-width: 800px;
  margin: auto;
  padding: 15px;
  font-family: sans-serif;
  line-height: 1.5;
}
.css-hip9hq-MuiPaper-root-MuiAppBar-root{
  background-image: linear-gradient(to right, rgb(1, 56, 105),rgb(0, 140, 255));

  /* background-color: rgb(0, 132, 208) !important; */
}
.carousel-container{
  display: flex;
  background-image: linear-gradient(to right , rgba(255, 147, 255, 0.449),rgba(113, 203, 255, 0.515));
  background-color: rgb(126, 126, 126);
  padding: 10px;
  padding-bottom: 0px;
  /* margin: 10px;
  margin-left: 100px;
  margin-right: 100px; */
  border-radius: 30px;
  color: white;
}
.css-1m9128y{
  padding: 30px;
}
.container{
  padding: 30px;
}
.Mui-selected{
  color: white !important;
  /* border-radius: 10px !important; */
  background-color: rgb(167, 167, 167) !important;
}
.editBtn{
  position: fixed;
  bottom: 50px;
  left: 50px;
}
.banner{
  width: 280px;
  height: 280px;
}
.custom-btn{
  background-image: linear-gradient(to right, rgb(101, 194, 248),rgb(255, 116, 255));
}
h1{
  font-size: 50px;
}
.category_img{
  padding: 20px;
  border: 1px dashed gray;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.product_img{
  padding: 10px;
  width: 250px;
  height: 170px;
  border: 1px dashed gray;
}
.v-margin{
  margin-top: 15px;
  margin-bottom: 15px;
}
.v-padding{
  padding-top: 15px;
  padding-bottom: 15px;
}
.h-margin{
  margin-left: 15px;
  margin-right: 15px;
}
.h-padding{
  padding-left: 15px;
  padding-right: 15px;
}
.number-input input{
  padding: 10px !important;
}